<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
  "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title><%= yield(:page_title) || h(config[:title]) %></title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= open_id_delegation_link_tags(h(config[:open_id_delegation, :server]), h(config[:open_id_delegation, :delegate])) if config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="page_container">
    <h1 id="page_heading">
      <a href="<%=h '/' %>"><code class="ruby">&lt;%</code> Ga<span class="ruby">rb</span>led</a>
    </h1>
  
    <div id="main">
      <h2><code>garbled = Blog.new(:author => 'Ben Hamill')</code></h2>
      <%= yield %>
    </div>
  
    <div id="navigation">
      <h3>Contact</h3>
      <ul>
        <li><%= mail_to 'ben@benhamill.com', 'Email', :encode => 'hex', :title => 'Email me.' %></li>
        <li><%= link_to 'Twitter', 'http://twitter.com/benhamill/' %></li>
        <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/pub/9/a2a/98' %></li>
      </ul> <!-- contact -->
      
      <h3>Pages</h3>
      <ul>
        <% page_links_for_navigation.each do |link| -%>
          <li><%= link_to(h(link.name), link.url) %></li>
        <% end -%>
      </ul>
      
      <% unless category_links_for_navigation.empty? -%>
      <h3>Categories</h3>
      <ul>
        <% category_links_for_navigation.each do |link| -%>
        <li><%= link_to(h(link.name), link.url) %></li>
        <% end -%>
      </ul>
      <% end -%>
      
      <form method="get" id="sform" action="http://www.google.com/search">
        <div>
          <h3><label for="q">Search</label></h3>
          
          <input type="text" id="q" value="" name="q" />
          <input type="hidden" name="sitesearch" value="<%=h config[:url] %>" />
        </div>
      </form> <!-- sform -->
    </div> <!-- navigation -->
    
    <div id="footer"><%=h config[:title] %> &#169; <%=h config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{h(config[:url])}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A ruby on rails blogging app for the fashionable developer">Enki</a>.</div>
  </div>
</body>
</html>
